---
import RobotBackground from "../components/RobotBackground.jsx";
---

<section class="relative min-h-screen overflow-hidden bg-black text-white">
    <RobotBackground client:load />
    <div class="relative z-10 flex items-center justify-center min-h-screen">
        <h1 class="opacity-70">Prueba 3D</h1>
    </div>
</section>
